.app {
    padding: 8px 24px;
    height: 100%;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eee;
    height: calc(100vh - 16px);
  }
  
  body {
    margin: 0;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  }