html {
    height: 100%;

    /* &::before {
        content: "";
        background: #eee url(https://images.pexels.com/photos/220182/pexels-photo-220182.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 0.85;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    } */
        /* background-color: rgb(244, 244, 244); */
        background: #eee url(https://cdn.wallpapersafari.com/38/49/6LS0zc.jpg);
        background: #f7f7f7;
        z-index: -1;
        background-repeat: no-repeat;
}

body {
    margin: 0;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.app {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
