.container {
    width: 100%;

    .slot-input-container {
        text-align: center;
        
 
        .date-selector {
            border-radius: 10px 10px 0 0;
            .date-button {
                width: 50%;
                font-size: 16px;
                text-transform: uppercase;
                padding: 15px 25px;
                font-weight: 500;
                cursor: pointer;
                color: #000;

                &:first-of-type {
                    border-bottom: 1px;
                    border-right: 1px;
                    border-radius: 10px 0 0 0;
                }

                &:last-of-type {
                    border-bottom: 1px;
                    border-left: 1px;
                    border-radius: 0 10px 0 0;
                }
            }

            .selected-date {
                background-color: #f1f1f1;
                border-color: #f1f1f1;
            }
        }

        .form-control-textfield-container {
            background-color: #f1f1f1;
            border-radius: 0 0 10px 10px;
            padding: 20px 20px 10px;

            .form-label {
                text-align: center;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.74);

                &.error {
                    color: red;
                }
            }

            .checkbox {
                display: none;
            }

            .checkbox-label { 
                padding: 16px;
                opacity: 0.85;
                width: 100px;
                text-align: center;
                margin: 10px 0;
                box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
                    
                &.available {
                    background-color: #4CAF50;
                    &:hover {
                        opacity: 1;
                    }
                }

                &.booked {
                    background-color: rgb(202, 84, 84);
                    pointer-events: none;
                    &:hover {
                        opacity: 1;
                    }
                }

                &.selected {
                    background-color: #2196F3;
                    &:hover {
                        opacity: 1;
                    }
                }

                &.full {
                    background-color: darkgray;
                    pointer-events: none;
                }
                
                span {
                    font-size: 16px;
                    font-weight: bold;
                    color: white;
                }
            }

            .textfield-container {
                float: right;
                margin-left: 20px;

                .text-field {
                    display: flex;
                    width: 250px;
                    margin: 51px 0 0 20px;
            
                    &.error {
                        label {
                            color: #f44336;
                        }
            
                        div::after{
                            transform: scaleX(1);
                            background-color: #f44336;
                        }
                    }
                }
            }
        }
    }

    .button {
        margin: 8px;

        .right-icon {
            margin-left: 8px;
        }
    }

    .form-action {
        margin-top: 10px;
        float:right;
    }
}