.container {
    width: 100%;

    .text-field {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 90px;
        width: 250px;

        &.error {
            label {
                color: #f44336;
            }

            div::after{
                transform: scaleX(1);
                background-color: #f44336;
            }
        }
    }

    .button {
        margin: 8px;

        .right-icon {
            margin-left: 8px;
        }
    }

    .form-action {
        float:right;
    }
}