.dashboard {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 20px;

	.device-type-container {
	    margin: 20px;
		padding: 20px;
		min-width: 330px;
		flex: 1 100px;
		display: inline-block;
		background-color: #fff;
    	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

		h4 {
			text-align: center;
			font-family: Roboto, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
		}
	}
}