.paper {
	margin: 40px auto;
	display: block;
	padding: 20px;
	width: 700px;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
    	padding: 0 50px;

		.text-field {
			margin: 20px;
			width: 250px;

			&.error {
				label {
					color: #f44336;
				}

				div::after {
					transform: scaleX(1);
	    			background-color: #f44336;
				}
			}
		}

		.menu {
			width: 200px;
		}

		.button {
			margin: 8px 16px;
		}

		.right-icon {
			margin-left: 8px;
		}

		.form-action {
			width: 100%;
			margin-top: 30px;

			a {
				text-decoration: none;

				&.disabled {
					pointer-event: none;
				}
			}
		}
	}
}